.text-center {
  text-align: center;
}

.intro {
  font-style: italic;
}

.body-style {
  /* background-image: linear-gradient(0.05turn, #2da8dd, #ebf8e1, #f58916); */
  background-color: red;
}

.float {
  display: inline-block;
  margin-right: 15px;
}