@{
  Layout = "_Layout";
}

@using Salon.Models;
@model List<Salon.Models.Stylist>;
<div class="text-center container">
  <h1>Stylists</h1>
  <hr />

  @if (@Model.Count == 0)
  {
    <p>You currently don't employ any stylists.</p>
  }

  @foreach (Stylist stylist in Model)
  {
    <li>@Html.ActionLink(stylist.Name, "Details", new { id = stylist.StylistId}) </li> 
  }
  <hr />
  @Html.ActionLink("Add a stylist", "Create")<br>
  @Html.ActionLink("Home", "Index", "Home")
</div>